<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Playroom</title>
    <link rel="stylesheet" href="/styles/app.css" />
    <script type="module" src="/scripts/app.js" defer></script>
    <link
      rel="preload"
      href="/scripts/lib/hydrogen-web.js"
      as="script"
      crossorigin
    />
  </head>
  <body>
    <main class="playroom-root" v-scope>
      <section class="stream-panel">
        <iframe
          v-bind:src="stream.videoEmbedUrl"
          v-if="stream.status === 'live'"
          title="Stream video content"
          frameborder="0"
          allow="clipboard-write; encrypted-media; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="stream-idle-indicator" v-if="stream.status === 'idle'">
          No stream right now! Hope you're doing well today! 💖
          <div v-if="stream.canManage">You could start streaming though…</div>
        </div>
      </section>
      <section class="chat-panel">
        <header class="chat-header">
          <h1>Chat</h1>
          <form
            class="display-name-form"
            @submit="ui.displayNameForm.submit"
            v-if="chat.status === 'logged-in'"
          >
            <label>
              <div>Display name</div>
              <input
                type="text"
                v-model="ui.displayNameForm.displayName"
                v-bind:disabled="ui.displayNameForm.isDisabled"
                required
              />
            </label>
            <button
              type="submit"
              v-bind:disabled="ui.displayNameForm.isDisabled"
            >
              Save
            </button>
          </form>
        </header>
        <div
          class="chat-loading-message"
          v-if="chat.status === 'loading'"
          v-show-while-page-loading
        >
          <div>Loading…</div>
        </div>
        <!--
          We show the "Logging in" message both when logging into chat, and
          when we're logged in but still waiting for Hydrogen to load.
          (Hydrogen generally loads fast enough that a separate message isn't
          worth it, but slow enough that *not* showing this message would cause
          a flash of empty space!)
        -->
        <div
          class="chat-loading-message"
          v-if="
            chat.status === 'logging-in' ||
              (chat.status === 'logged-in' && ui.hydrogen.status === 'loading')
          "
        >
          <div>Logging in…</div>
        </div>
        <div class="chat-error-message" v-if="chat.status === 'login-error'">
          <p>We're having trouble logging you into chat, sorry 😖</p>
          <p>You can come find me and ask me for help if it keeps happening!</p>
        </div>
        <div
          class="chat-error-message"
          v-if="chat.status === 'must-agree-to-terms'"
        >
          <p>Hi welcome!! Excited to have you!!</p>
          <p>
            To use chat, you'll need to read
            <a v-bind:href="chat.termsUrl" target="_blank"
              >our chat server's terms</a
            >
            first, and click Agree. Come back here when you're done!
          </p>
          <p>You can also just hang out and watch if you want 😊</p>
        </div>
        <!--
          .chat-main uses v-show instead of v-if, so that it's always mounted
          in the page. That's because we start loading Hydrogen onto the page
          before we're ready to actually show it, so the .hydrogen element
          needs to exist early!

          The .hydrogen element inside here is a special element, where
          Hydrogen will mount once we're logged in.
        -->
        <div class="chat-main" v-show="ui.hydrogen.status === 'ready'">
          <div class="hydrogen" />
        </div>
      </section>
    </main>
  </body>
</html>
