@import url("lib/hydrogen-web/main.css");
@import url("lib/hydrogen-web/themes/element/theme.css");

.hydrogen {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.hydrogen > .RoomView {
  flex: 1 0 0;
}

.RoomHeader {
  display: none;
}

.Timeline_messageAvatar {
  display: none;
}
