@import url("npm:hydrogen-web/src/platform/web/ui/css/main.css");
@import url("npm:hydrogen-web/src/platform/web/ui/css/themes/element/theme.css");

.Timeline_messageAvatar {
  display: none;
}

/* TODO: Temp hack for flexbox, will remove once using RoomView? */
.hydrogen {
  display: flex;
  flex-direction: column;
  height: 100vh; /* TODO */
}

.hydrogen > .RoomView {
  flex: 1 0 0;
}

.RoomHeader {
  display: none;
}
