<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Playroom</title>
    <meta name="playroom:room-id" content="!sZgNHUkZHBlGSIUbrs:matrix.org" />
    <link rel="stylesheet" href="styles/app.css" />
    <script type="module" src="scripts/app.js"></script>
  </head>
  <body>
    <main class="playroom-root" v-scope>
      <section class="stream-panel">
        <iframe
          v-bind:src="stream.videoEmbedUrl"
          v-if="stream.status === 'ready'"
          title="Stream video content"
          frameborder="0"
          allow="clipboard-write; encrypted-media; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="stream-idle-indicator" v-if="stream.status === 'idle'">
          No stream right now! Hope you're doing well today! 💖
        </div>
      </section>
      <section class="chat-panel">
        <header class="chat-header">
          <h1>Chat</h1>
          <form
            class="display-name-form"
            @submit="displayNameForm.submit"
            v-if="chat.status === 'ready'"
          >
            <label>
              <div>Display name</div>
              <input
                type="text"
                v-model="displayNameForm.displayName"
                v-bind:disabled="displayNameForm.isDisabled"
                required
                ref="displayNameInput"
              />
            </label>
            <button type="submit" v-bind:disabled="displayNameForm.isDisabled">
              Save
            </button>
          </form>
        </header>
        <div
          class="chat-loading-message"
          v-if="chat.status === 'loading'"
          v-show-while-page-loading
        >
          <div>Loading…</div>
        </div>
        <div
          class="chat-loading-message"
          v-if="chat.status === 'logging-in' || (chat.status === 'ready' && !hydrogenLoaded)"
        >
          <div>Logging in…</div>
        </div>
        <div class="chat-error-message" v-if="chat.status === 'login-error'">
          <p>We're having trouble logging you into chat, sorry 😖</p>
          <p>You can come find me and ask me for help if it keeps happening!</p>
        </div>
        <div
          class="chat-error-message"
          v-if="chat.status === 'must-agree-to-terms'"
        >
          <p>Hi welcome!! Excited to have you!!</p>
          <p>
            To use chat, you'll need to read
            <a v-bind:href="chat.termsUrl" target="_blank"
              >our chat server's terms</a
            >
            first, and click Agree. Come back here when you're done!
          </p>
          <p>You can also just hang out and watch if you want 😊</p>
        </div>
        <!--
          chat-main uses v-show instead of v-if, so that it's always mounted in
          the page. That's because we start loading Hydrogen onto the page, and
          then wait for it to finish before we become "ready" and show it!
        -->
        <div
          class="chat-main"
          v-if="chat.status === 'ready'"
          v-show="hydrogenLoaded"
        >
          <div class="hydrogen" ref="hydrogen" @mounted="loadHydrogen" />
        </div>
      </section>
    </main>
  </body>
</html>
